<h2>Productos</h2>
<p class="card-text">Nuestra lista de Productos a tu disposición</p>


<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Producto</th>
      <th scope="col">Cantidad Actual</th>
      <th scope="col">Precio</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let producto of productos ">
      <td> {{producto.id}}</td>
      <td> {{producto.nombrePoducto}}</td>
      <td> {{producto.cantidad}}</td>
      <td> {{producto.precioBase | currency }}</td>

    </tr>

  </tbody>
</table>
